@import './base.css';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

#app{
  display: flex;
  background: url('');
  scrollbar-color: #555 transparent;
  scrollbar-width: thin;
  header{
    position: relative;
    z-index: 10;
    width: fit-content;
    height: 100vh;
    width: 10vw;
    background: hsla(160, 100%, 37%, 0.2);
    backdrop-filter: blur(50px);
    align-content: center;
    nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      flex-direction: column;
      align-items: center;
      a{
        color: #fff;
        text-decoration: none;
        padding: 1rem .4rem;
        width: 100%;
        text-align: center;
      }
    }
   
  }
}
@media only screen and (max-width:1032px){
  #app{
    header{
      position: fixed;
      width: 100%;
      height: 10vh;
      bottom: 0;
      backdrop-filter: none;
      background: #13392c;
      nav{
        flex-direction: row;
        padding: 0;
      }
    } 
  }
}
